<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>사전 토이 프로젝트</title>
</head>
<body>
<div class="wrap">
    <header>
        <h1 class="h1"><a href="#">사전 토이 프로젝트</a></h1>
    </header>
    <nav class="nav">
        <ul class="nav-ul">
            <li class="li-profile"><a href="#" onclick="viewNavContent('.profile')">프로필</a></li>
            <li class="li-write"><a href="#" onclick="viewNavContent('.post')">작성</a></li>
            <li class="li-list"><a href="#" onclick="viewNavContent('.postlist')">게시글 목록</a></li>
        </ul>
    </nav>
    <div class="info-wrap">
        <ul class="info-box">
            <li><a href="#" onclick="viewNavContent('.login')">로그인</a></li>
            <li><a href="#" onclick="viewNavContent('.sign')">회원가입</a></li>
        </ul>
    </div>
    <section class="section" id="section">
        <article class="profile none">
            <h2>프로필</h2>
            <div class="profile_list">
                <table bordercolor="blue" width="650" height="300" align="center">
                    <tr align="center" bgcolor="#191970">
                        <td>닉네임</td>
                        <td>언어</td>
                        <td>블로그 링크</td>
                    </tr>
                    <!--닉언블 이 공간이 양식에 맞는건지? 질문에 의미는 겟방식으로 긁어 와야하는데 읽히는 방법이 맞는지-->
                    <tr>
                        <td>(닉)</td>
                        <td>(언)</td>
                        <td>(블)</td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="post none">
            <h2>작성하기</h2>
            <div class="mypost2" id="post-box2">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="width:500px; height: 100px"></textarea>
                    <label for="floatingTextarea2"></label>
                </div>
                <div class="mybtns2">
                    <button onclick="save_posting()" type="button" class="btn btn-dark">작성하기</button>
                </div>
            </div>
        </article>
        <article class="postlist none">
            <h2>게시글 목록</h2>
            <div class="postingbox" id="posting-list">
            </div>
        </article>
        <article class="sign none">
            <h2>회원가입</h2>
            <div class="form-wrap">
                <div>
                    <label for="input-email">email</label>
                    <input type="text" id="input-email" placeholder="예) email@gmail.com">
                </div>
                <div>
                    <label for="input-pw">PW</label>
                    <input type="text" id="input-pw" placeholder="비밀번호를 입력하세요.">
                </div>
                <div>
                    <label for="input-nickname">닉네임</label>
                    <input type="text" id="input-nickname" placeholder="닉네임을 입력하세요.">
                </div>
                <div>
                    <label for="input-lang">언어</label>
                    <input type="text" id="input-lang" placeholder="주특기 언어를 입력하세요.">
                </div>
                <div>
                    <label for="input-blog">블로그</label>
                    <input type="text" id="input-blog" placeholder="블로그 주소를 입력하세요.">
                </div>
                <button class="btn-add" id="btnAdd" onclick="check_sign()">회원가입</button>
            </div>
        </article>
        <article class="login">
            <h2>로그인</h2>
            <div class="form-wrap">
                <div>
                    <label for="login-email">email</label>
                    <input type="text" id="login-email" placeholder="이메일을 입력하세요.">
                </div>
                <div>
                    <label for="login-pw">PW</label>
                    <input type="text" id="login-pw" placeholder="비밀번호를 입력하세요.">
                </div>
                <button type="submit" class="btn-add" onclick="check_login()">로그인하기</button>
            </div>
        </article>
    </section>
    <footer>copyright by 13조</footer>

</div>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>