<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <title>사전 토이 프로젝트</title>
</head>
<body>
<div class="wrap">
    <header>
        <h1 class="h1">사전 토이 프로젝트</h1>
    </header>
    <nav class="nav">
        <ul class="nav-ul">
            <li class="li-profile"><a href="#">프로필</a></li>
            <li class="li-write"><a href="#">작성</a></li>
            <li class="li-list"><a href="#">게시글 목록</a></li>
        </ul>
    </nav>
    <div class="info-wrap">
        <ul class="info-box">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </div>
    <section class="section">
        <article class="profile none">
            <div class="order1" id="profile_box1">
                <div class="order-info">
                    <div class="input-group mb-3">
                        <span class="input-group-text">이름</span>
                        <input id="name" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">블로그</span>
                        <input id="address" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="size">희망 언어</label>
                        <select class="form-select" id="size">
                            <option selected>-- 언어 --</option>
                            <option value="React">REACT</option>
                            <option value="Node">NODE.JS</option>
                            <option value="Spring">SPRING</option>
                        </select>
                    </div>
                    <button onclick="save_order1()" type="button" class="btn btn-warning mybtn3">저장하기</button>
                </div>
                <table class="table1">
                    <tbody id="order-box1">
                    </tbody>
                </table>
            </div>
        </article>
        <article class="post none">
            <div class="mypost2" id="post-box2">
                <div class="form-floating">
                    <textarea id="comment" class="form-control" placeholder="배운점 작성하기"></textarea>
                    <label for="floatingTextarea2"></label>
                </div>
                <div class="mybtns2">
                    <button onclick="posting2()" type="button" class="btn btn-dark">작성하기</button>
                </div>
            </div>
        </article>
        <article class="postlist none">
            <div class="mybox3" id="post-list3">
                <li>
                    <h2> 읽기 미완료</h2>
                    <button onclick="done_post(5)" type="button" class="btn btn-warning">읽음!</button>
                </li>
                <li>
                    <h2 class="done3"> 읽기 완료</h2>
                </li>
            </div>
        </article>
        <article class="sign">
            <h2>회원가입</h2>
            <div class="form-wrap">
                <div>
                    <label for="input-email">email</label>
                    <input type="text" id="input-email" placeholder="예) email@gmail.com">
                </div>
                <div>
                    <label for="input-pw">PW</label>
                    <input type="text" id="input-pw" placeholder="비밀번호를 입력하세요.">
                </div>
                <div>
                    <label for="input-nickname">닉네임</label>
                    <input type="text" id="input-nickname" placeholder="닉네임을 입력하세요.">
                </div>
                <div>
                    <label for="input-lang">언어</label>
                    <input type="text" id="input-lang" placeholder="주특기 언어를 입력하세요.">
                </div>
                <div>
                    <label for="input-blog">블로그</label>
                    <input type="text" id="input-blog" placeholder="블로그 주소를 입력하세요.">
                </div>
                <button class="btn-add" id="btnAdd" onclick="check_sign()">회원가입</button>
            </div>
        </article>
        <article class="login">
            <h2>로그인</h2>
            <div class="form-wrap">
                <div>
                    <label for="login-email">email</label>
                    <input type="text" id="login-email" placeholder="이메일을 입력하세요.">
                </div>
                <div>
                    <label for="login-pw">PW</label>
                    <input type="text" id="login-pw" placeholder="비밀번호를 입력하세요.">
                </div>
                <button type="submit" class="btn-add" onclick="check_login()">로그인하기</button>
            </div>
        </article>
    </section>
    <footer>copyright by 13조</footer>

</div>
</body>
</html>